<!DOCTYPE html>
<html lang="en">
  <head>
      <% include partials/head %>
  </head>

  <body>
    <h1 text-align="center" style="color:red; text-align: center; margin-top: 150px">
      ERROR 404 ! PAGE NOT FOUND !
    </h1>
  </body>

</html>


