<!DOCTYPE html>
<html>

<head>
    <title>My metrics</title>
</head>

<body>
	<script type="text/javascript">console.log("hello")</script>
    <h1 id="title">Welcome <%=name%></h1>
    <p>Here are your informations:</p>

</body>

</html>