<!DOCTYPE html>
<html lang="en">
  <head>
      <% include partials/head %>
  </head>
  <body class="container">
      
    <div class="col-md-6 col-md-offset-5">
      <h1>Welcome to ECE metrics</h1>
    </div>
    <div>
        <button class="btn btn-primary" href="/login" onClick='document.location.href="/login"'>
            Login
          </button>
          <button class="btn btn-primary" href="/signup" onClick='document.location.href="/signup"'>
            Sign Up
          </button>
    </div>
      
      
    <br/><br/><br/>
    


  </body>
</html>
