
<!DOCTYPE html>
<html lang="en">
  <head>
      <% include partials/head %>
  </head>
  <body class="container-fluid">
    <div class="form-control">
      <h1>Log In TA MERE LA PUTE</h1>
      <hr/>

      <p><%= notFoundErr === "" ? "" : notFoundErr %></p>
      <p><%= pwdErr === "" ? "" : pwdErr %></p>

      <form action="/login" method="post">

        <div class="form-control">
          <label for="form_username">Username : </label>
          <input id="form_username" type="text" name="username" />
        </div>

        <div class="form-control">
          <label for="form_password">Password : </label>
          <input id="form_password" type="password" name="password" />
        </div>
        
        <button class="btn btn-primary" type="submit" value="Submit">Submit</button>
      </form>

      <hr/>
      <button class="btn btn-primary" type="submit" href="/signup" onClick='document.location.href="/signup"'>
        Sign Up
      </button>

    </div>
  </body>
</html>
